body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f9;
}

header {
    background: #0d6efd;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: linear-gradient(120deg,#0d6efd,#6610f2);
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.search-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    margin: auto;
    display: flex;
    gap: 10px;
}

.search-box input, button {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    flex: 1;
}

.search-box button {
    background: #0d6efd;
    color: white;
    border: none;
    cursor: pointer;
}

.results {
    padding: 30px;
}

.bus-card {
    background: white;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bus-card button {
    background: #198754;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 10px;
}